/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1120px;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column
}


/* COLORS */
.off-white {
  color: #f5f5f5;
}

.white {
  color: white;
}

.pale-yellow {
  color: #E9BD8C;

}

.pale-yellow-light {
  color: #E9BD8D;
}

.red {
  color: #933C24;
}

.grey {
  color: #5D5D5D;
}

.dark-grey {
  color: #737373;
}

.light-grey {
  color: #B9B9B9;
}


/* TYPOGRAPHY */

.poppins-18-400 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.poppins-22-600 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
}

.poppins-24-500 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
}

.poppins-24-600 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
}

.inter-24-400 {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
}

.inter-24-500 {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
}

.inter-24-600 {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
}

.inter-32-600 {
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
}

.inter-36-700 {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
}

.sansita-74-400 {
  font-family: Sansita Swashed;
  font-weight: 400;
  font-size: 74px;
}

.sansita-64-600 {
  font-family: Sansita Swashed;
  font-weight: 600;
  font-size: 64px;
}

.sansita-48-500 {
  font-family: Sansita Swashed;
  font-weight: 500;
  font-size: 48px;
}

.centered {
  text-align: center;
}


/* SHARED */

.offset-from-top {
  margin-top: 130px;
}

.link-button {
  border-radius: 4px;
  background-color: transparent;
}

.link-button--small {
  padding: 12px 16px;
}

.link-button--medium {
  padding: 23px 35px;
}

.link-button--big {
  padding: 24px 38px;
}


.link-button--red {
  color: #f5f5f5;
  background-color: #933C24;
}

/* SECTIONS */

/* HERO */

.hero {
  min-height: 813px;
  background-image: url("./images/1-backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__header {
  padding-top: 19px;
  display: flex;
  gap: 138px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation__link {
  color: #f5f5f5;
  text-decoration: none;
}

.navigation__link:first-child {
  color: #E9BD8C;
}

.navigation__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.hero__headline {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__links {
  margin-top: 101px;
}

/* TOP PRODUCTS */

.top-products__items {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card {
  box-sizing: border-box;
  width: 360px;
  height: 411px;

  padding: 13px 29px 38px 29px;

  background-image: url(images/1-backgroung.png);

  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.item-card__image {
  width: 230px;
  height: 230px;
  align-self: center;
}

.item-card__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.item-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-image {
  position: relative;
  right: 17px;
}

.item-card__description {
  margin-top: 37px;
  text-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
}

/* DISCOUNT */

.discount {
  background-image: url("./images/discount_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 70px 0;
  box-sizing: border-box;
}

.discount__container {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}

.discount__link {
  border-radius: 10px;
}


/* EXPLORE */

.explore__navigation {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 5px;
}


.explore_nav_button:first-child::after {
  display: block;
  height: 6px;
  width: 110%;
  background: #933C24;

  border-radius: 20px;

  position: relative;
  top: 6px;
  right: 3px;

  content: "";
}

.explore__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* ABOUT US */

.about-us {
  background-image: url("./images/about_us_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 83px 0;
  box-sizing: border-box;
}

.about-us__container {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.about-us__link {
  border-radius: 10px;
}


/* FEATURED */

.featured__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featured-item__image {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.featured-item__desc {
  margin-top: 31px;
  display: flex;
  justify-content: space-around;
}


/* FOOTER */


.footer {
  background-image: url("./images/footer_background.png");
  background-size: cover;

  padding-top: 30px;
}

.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 493px;

  border-bottom: 2px solid #E9BD8D33;
  padding-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
  gap: 44px;
}

.social__icons {
  display: flex;
  gap: 24px;
}

.social-icon {
  font-size: 42px;
  color: #E9BD8D;
}

.footer__content {
  margin-top: 52px;
  display: flex;
  gap: 289px;
}

.footer-sections-left {
  display: flex;
  gap: 104px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.contacts-button:first-child {
  font-weight: 600;
}

.news-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news-item {
  display: flex;
  gap: 23px;
}

.news-item__image {
  width: 100px;
  height: 67px;
  object-fit: cover;
}

.footer__copyright {
  padding-bottom: 56px;
}
