/* GENERAL */

body {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* COLORS */

.primary {
  color: black;
}

.secondary {
  color: #933C24;
}

.light {
  color: #F5F5F5;
}

.light--light {
  color: white;
}

.dark {
  color: #5D5D5D;
}

.dark--light {
  color: #B9B9B9;
}

.accent {
  color: #E9BD8C;
}

.accent--light {
  color: #E9BD8D;
}



/* TYPOGRAPHY */

.font--primary {
  font-family: "Inter"
}

.font--secondary {
  font-family: "Poppins"
}

.font--accent {
  font-family: "Sansita Swashed"
}

.font-weight--normal {
  font-weight: 400
}

.font-weight--medium {
  font-weight: 500;
}

.font-weight--semi-bold {
  font-weight: 600;
}

.font-weight--bold {
  font-weight: 700;
}

.centered {
  text-align: center;
}


/* SHARED */

.container {
  max-width: 1120px;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column
}

.section {
  padding: 130px 0;
}

.section__title {
  margin: 0;
  font-family: "Sansita Swashed";
  font-weight: 600;
  font-size: 64px;
  text-align: center;
}

.section__title--sm {
  font-size: 48px;
}

.section__title--light {
  color: #F5F5F5;
}

.section__title--accent {
  color: #933C24
}


.button {
  background-color: #933C24;
  color: #F5F5F5;
  border-radius: 4px;
}

.button--sm {
  padding: 12px 16px;
}

.button--md {
  padding: 23px 35px;
}

.button--l {
  padding: 24px 38px;
}

.button--ghost {
  background-color: transparent;
}

/* SECTIONS */

/* HERO */

.hero {
  background-image: url("./images/1-backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-bottom: 180px;
}

.hero__nav {
  padding-top: 19px;
  display: flex;
  gap: 138px;
}

.hero__nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero__nav-link {
  color: #f5f5f5;
  font-size: 22px;
  text-decoration: none;
}

.hero__nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.hero__nav-link--active {
  color: #E9BD8C;
}

.hero__content {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__subtitle {
  margin: 0;
  font-size: 24px;
}

.hero__title {
  margin: 0;
  font-size: 74px;
}

.hero__links {
  display: flex;
  gap: 19px;
  margin-top: 101px;
}

.hero__shop-btn {
  color: #f5f5f5;
  border-radius: 8px;
}

.hero__learn-btn {}

/* TOP PRODUCTS */

.top-products {}

.top-products__title {
  font-size: 64px;
}

.top-products__items {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  box-sizing: border-box;
  width: 360px;

  padding: 13px 29px 38px 29px;

  background-image: url(images/1-backgroung.png);

  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.product__image {
  width: 230px;
  height: 230px;
  align-self: center;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  margin: 0;
  font-weight: 500;
  color: white;
}

.product__info-btn {
  padding: 0;
  position: relative;
  right: 17px;
}

.product__description {
  margin-top: 37px;
  text-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  margin: 0;
  color: white;
  font-weight: 500;
}

/* DISCOUNT */

.discount {
  background-image: url("./images/discount_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 70px 0;
  box-sizing: border-box;
}

.discount__container {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}

.discount__title {
  font-family: "Sansita Swashed";
  font-size: 48px;
  font-weight: 500;
}

.discount__text {
  margin: 0;
}

.discount__btn {
  border-radius: 10px;
}

/* EXPLORE */

.explore__nav {
  margin-top: 95px;
}

.explore__nav-btns {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 5px;
}

.explore__nav-btn {
  font-family: "Poppins";
  font-weight: 600;
  color: #5D5D5D;
}

.explore__nav-btn--active {
  position: relative;
}

.explore__nav-btn--active::after {
  display: block;
  height: 6px;
  width: 110%;
  background: #933C24;

  border-radius: 20px;

  position: absolute;
  bottom: -6px;
  right: -3px;

  content: "";
}

.explore__items {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.explore__item {}

.explore__img {
  width: 360px;
  height: 350px;
  object-fit: cover;
}

/* ABOUT US */

.about-us {
  background-image: url("./images/about_us_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 83px 0;
  box-sizing: border-box;
}

.about-us__container {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.about-us__btn {
  border-radius: 10px;
}


/* FEATURED */

.featured__items {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featured-item__image {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.featured-item__desc {
  margin-top: 31px;
  display: flex;
  justify-content: space-around;
}

.featured-item__title {
  font-size: 36px;
  font-weight: 600;
}

.featured-item__price {
  font-size: 36px;
  font-weight: 600;
}


/* FOOTER */

.footer {
  background-image: url("./images/footer_background.png");
  background-size: cover;

  padding-top: 30px;
  padding-bottom: 25px;
}

.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 493px;

  border-bottom: 2px solid #E9BD8D33;
  padding-bottom: 20px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 44px;
}

.footer__follow-us {
  font-weight: 600;
  color: #E9BD8D;
}

.footer__social-icons {
  display: flex;
  gap: 24px;
}

.footer__social-icon {
  font-size: 42px;
  color: #E9BD8D;
}

.footer__content {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
}

.footer__section--left {
  gap: 104px;
}

.footer__section--right {}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer__col-title {
  font-size: 36px;
  font-weight: 700;
}

.footer__col-items {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer__contact-btn {
  background: transparent;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
}

.footer__contact-btn:first-child {
  font-weight: 600;
}

.footer__explore-btn {
  background: transparent;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
}

.footer__news-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news-item {
  display: flex;
  gap: 23px;
}

.news-item__desc {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.news-item__image {
  width: 100px;
  height: 67px;
  object-fit: cover;
}

.news-item__date {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.news-item__title {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
}

.footer__copyright {
  margin-top: 125px;
  font-weight: 600;
}
